@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
html {
  height: 100%;
}

body {
  height: 100%;
  background: #fff;
 
}
*{
  font-family: 'Inter', sans-serif ;
}
#pinContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;

}


.panel {
  height: 100%;
  width: 100%;
  position: absolute;

}
canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 100vh;
}


  .fa-apple:hover {
    color: white !important;
  }
  .mynavbar {
    background: rgba(255, 255, 255, 0.2) !important;
    z-index: 2;
    backdrop-filter: blur(10px) saturate(125%);
  
    -webkit-backdrop-filter: blur(10px) saturate(125%);
  }
  .example:hover {
    color: blue !important;
  }
  .des-h1 {
    color: grey;
    font-size: 2vw;
  }
  .myfont {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
  }
  .headfont {
    font-family: "Work Sans", sans-serif;
  } 
  #laptop-opening{
      z-index: -1;
  }
  
  .next-desc{
    
      margin-top: 381vh !important;
      /* z-index: 1001; */
  }
  .next-desc1{
    margin-top: 200vh !important;
}
.uplifter{
  margin-top: -40%;
  
}

.retina{
  padding-top: 25%;
}

#carouselExampleFade .carousel-control-next{
  position: absolute;
  bottom: 0%;
  left: 8% !important;
}

.footer h3{
  font-size: 0.8vw !important;
}
.footer ul{
  list-style-type: none;
 
}

.footer a{
  color: black;
  opacity: 0.7;
  text-decoration: none;
}
.footer ul li{
  text-align: left;
}